<footer class="navbar navbar-expand-lg footerStyle ">
    <div class="container-fluid">
        <div class="col-2 col-sm-1 text-start">
            <ul class="navbar-nav me-auto mb-1 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link footer-link " href="https://www.facebook.com/?locale=fr_FR"><i
                            class="bi bi-facebook lightFont"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="https://www.instagram.com/"><i
                            class="bi bi-instagram lightFont"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="https://twitter.com/?lang=fr"><i
                            class="bi bi-twitter-x lightFont"></i></a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-wrap gap-4">

                <p><a href="/conditions" class="condition"> Condition d'utilisation </a></p>


                <p ><a href="mailto:Breakfrance@gmail.com" class="condition"> Contact: Breakfrance@gmail.com </a></p>

        </div>
        <div class="col-3 col-sm-2 text-end">
            <a class="navbar-brand" href="/"><img src="/images/BreakFranceLogoFooter.webp" alt="logo BreakFrance" /></a>
            <a class="nav-link footer-link" href="#">&copy;Breakfrance</a>
        </div>
    </div>

</footer>