<main>

     <body>
        <div class="container">
            <h1>Accès Refusé</h1>
            <p>Vous n'avez pas accès à cette page.</p>
            <a href="/">Retour à la page home</a>
        </div>
    </body>

</main>