<main>
    <h1 class="Knewave text-center">Créer une catégorie</h1>

    <div class="container">
        <form id="categoryForm" action="/category/create" method="POST" onsubmit="categoryCheck()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="catName" class="mb-2 fs-4"><i class="bi bi-vector-pen"></i> Nom de la catégorie</label>
                        <input type="text" id="catName" name="catName" class="form-control border-info" aria-required="true">
                    </div>
                </div>
            </div>
            <p class="fs-5 text-success" role="status">{{message}}</p>
            {{#if errors}}
            <div class="mb-3" role="alert" aria-live="assertive">
                {{#each errors}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{msg}} <button type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer l'alerte"></button>
                </div>
                {{/each}}
            </div>
            {{/if}}
            {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" aria-live="assertive">
                {{error}}<button type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer l'alerte"></button>
            </div>
            {{/if}}

            <button type="submit" class="btn btn-info mt-5 mb-2" aria-label="Créer la catégorie">Créer la catégorie</button>
        </form>
    </div>
</main>

<script src="/js/categoryCheck.js" defer></script>