<main>
    <h2 class="text-start "> A la une</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/59129546_586103048549993_8823652534561275904_o.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active ">
                <img src="/images/b-boy-mathis-red-bull-bc-one-camp-france-2022.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
                <img src="/images/format-page-Facebook.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row text-end">
        <div class=" col-12 mx-auto">
            <a href="" class="btn  mt-1 me-5">
                <button> Voir les Events
                    <svg viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" height="20" width="20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                            fill-rule="evenodd"></path>
                    </svg>
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mx-auto ">
            <h2> Autour de moi </h2>
            <form action="/search" method="post" class="search mb-5">
                <input name="search" placeholder="Recherche" type="text">
                <button type="submit"><i class="bi bi-search m-2"></i>Go</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {{#if eventResults}}
            <h3> Résultats : </h3>

            <table>
                <thead>
                    <tr>
                        <th>Event</th>
                        <th></th>
                        <th>Adresse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each eventResults}}
                    <tr>
                        <td data-column="Event"><a href="/event/read/{{id}}">{{event_name}}</a></td>
                        <td data-column=""></td>
                        <td data-column="lieux">{{city}}</td>
                        <td data-column=""></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}

            {{/if}}
        </div>
    </div>
</main>