
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

/***********  Color Var and Police ***********/
:root {

    --bg-light: #FFFFFF;
    --light-grey: #cacaca;
    --bg-grey: #737373;
    --bg-blue:#0064A3;
    --bg-darkblue: #163760;
    --bg-darkblue-opacity: rgba(22, 55, 96, 0.5);
    --bg-darkred: #A30000;
    --bg-green: #5CD451;
    --bg-black: #000000;
    --title-font: "Knewave", system-ui;
    --main-font: "Inria", sans-serif;
}

/*********** General Style for all page ***********/
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}
body{
  background-color: var(--bg-light) ;
  
}
.rgpd{
   font-family: var(--main-font);
   font-size: 0.8em;
}

.description {
   font-family: var(--main-font);
   font-size: 1.2em;
}

main {
   overflow-y: auto;
   max-height: calc(100vh - 150px);
   margin: 10px;
   flex: 1;
   overflow-x: hidden;
 }



.navStyle {
   background-color: var(--light-grey); 
}

img {
   width: 65px;
   height: auto;
   margin: 2px;
}

.navbar-brand {
   color: var(--light-grey);
   font-size: x-large;  
}

@media (max-width: 767.98px) {
   .custom-toggler {
     padding: 0.25rem 0.5rem; /* Ajustez les valeurs selon vos besoins */
     font-size: 1rem; /* Ajustez la taille de la police si nécessaire */
     width: 2.5rem; /* Ajustez la largeur du bouton */
     height: 2.5rem; /* Ajustez la hauteur du bouton */
   }
 
   .custom-toggler .navbar-toggler-icon {
     width: 1rem; /* Ajustez la largeur de l'icône */
     height: 1rem; /* Ajustez la hauteur de l'icône */
   }
 }

.navbar-brand:hover {
   color: var(--bg-blue);
}
.navbar-brand{
   font-family: var(--title-font);

}
.nav-link{
   font-family: var(--title-font);
   font-size: x-large;
   color: var(--light-grey);
}
.text-stroke{
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


.nav-link:hover{
   color: #097ba8;
}

/* .nav-link:active{
   color:  ;
} */


/* Pseudo-classe active lors d'un clic */
.nav-link:active {
   color: var(--bg-blue);
}

/* Classe active définie dynamiquement */
.nav-link.active {
   color: var(--bg-blue);
}

/* Pour s'assurer que les éléments de menu déroulant fonctionnent aussi */
.dropdown-item.active {
   color: var(--bg-blue);
}

.row {
   margin-bottom:0.5rem;
   margin-top:0.5rem;
 }
.footerStyle {
   margin-top: 1rem;
    background-color: var(--bg-darkblue);
    color: var(--bg-light);
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
}
.footer-link:hover{
 color:var(--bg-light)
}
.condition{
   color:var(--bg-light);
   font-style: italic;
}
.contact{
   font-style: italic;
   color:var(--bg-light);
}

@media (max-width: 862px) {
   .footerStyle {
      margin-top: 3rem;
       background-color: var(--bg-darkblue);
       color: var(--bg-light);
       font-size: 12px ;
       padding: 1rem;
      
   }
   .navbar-brand{
      margin:0px;
   }
   .container-fluid{
      padding:0;
   }
   img{
      width: 55px;

   }
   .nav-link{
      font-size: small;
   }
 }



.lightFont{
    color: var(--bg-light);
}
/* error class for front end errors handler */

.error{
    margin-top: 0px;
    font-size: .75rem;
    color: red;
    margin-bottom: 0px;
}

input.error {
   border-color: red;
}
/*********** Navbar ***********/



h1{
   font-family: var(--title-font);
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings: "wdth" 100;
}
h2 {
   font-family: var(--main-font);
   font-weight: bold;
   margin: 4px 0px 10px 8px;
}

h3 {
   font-family: var(--main-font);
   font-weight: bold;
   color: #0064A3;
}


p{
   font-family: var(--main-font);
   font-optical-sizing: auto;
   font-style: normal;
}

/*********** Navbar END ***********/

/********** HOME PAGE **********/

/* Carrousel */
#carouselExampleControls {
   margin-left: auto;
   margin-right: auto;
   width: 70%; 
  
}

#carouselExampleControls .carousel-item img {
   object-fit: contain;
   object-position: center;
   /* height: 75vh; */
   min-height: 250px;
   height: 500px;
   overflow: hidden;
   width: 100%; /* Assurez-vous que les images prennent toute la largeur de l'élément parent */
   border-radius: 10px; /* Ajout d'un peu de courbure aux bords des images */


}

.carousel-control-prev,
.carousel-control-next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: auto;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.carousel-control-prev {
   left: 0;
   
}

.carousel-control-next {
   right: 0;
   
}

.carousel-control-prev-icon:first-child,
.carousel-control-next-icon:first-child {
   width: 2rem; 
   height: 2rem; 
   background-color: var(--bg-grey);
   
}
@media (max-width: 767px) {
   #carouselExampleControls .carousel-item img {
      height: 50vh; 
      min-height: 150px; 
      transition: ease all .5s;
   }

   .carousel-control-prev-icon,
   .carousel-control-next-icon {
      width: 1.5rem;
      height: 1.5rem; 
   }

   .carousel-control-prev,
   .carousel-control-next {
      width: 20px; 
      height: 15px; 
   }
}


/*CSS Button event home page */

button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 50px;
   border-radius: 50px;
   border: 0;
   outline: 0;
   font-size: 18px;
   background: #08f;
   color: #fff;
 }
 
 svg {
   margin: 0 0 0 10px;
 }
 
 button:hover svg {
   margin: 0 0 0 25px;
   transition: 0.3s;
 }
 
 button:not(:hover) svg {
   transition: 0.3s;
 }
 
 button:active {
   transform: scale(0.9, 0.9);
   transition: 200ms;
 }
 
 button:not(:active) {
   transition: 200ms;
 }
/* Table */

table {
	width: 750px; 
	border-collapse: collapse; 
	margin: 50px auto;
	border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
   box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
   margin-bottom: 10px;
}

tr:nth-of-type(odd) { 
	background: #eee; 
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
      transition: ease all .5s;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
      transition: ease all .5s;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
      transition: ease all .5s;
	}
	
	tr { border: 1px solid #ccc; }

   #eventsByLocationContainer {
      width: 100%;
      padding: 0 10px; 
      box-sizing: border-box;
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
      transition: ease all .5s;
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
      transition: ease all .5s;
	}
}
 

/**************** CSS Research input HOME EVENT GROUP ******************/

.search {
   display: inline-block;
   position: relative;
   margin-left: 6px;
 }
 
 .search input[type="text"] {
   width: 400px;
   padding: 9px;
   border: none;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .search button[type="submit"] {
   background-color: #4e99e9;
   border: none;
   color: #fff;
   cursor: pointer;
   padding: 12px 20px;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   position: absolute;
   top: -3px;
   right: 0;
   transition: .9s ease;
 }
 
 .search button[type="submit"]:hover {
   transform: scale(1.1);
   color: rgb(255, 255, 255);
   background-color: #163760;
 }

 /* Media Queries for screens smaller than 429px */
@media (max-width: 429px) {
   .search input[type="text"] {
      width: 300px; /* Ajustez la largeur selon vos besoins */
      padding: 8px;
      transition: ease all .5s;
   }

   .search button[type="submit"] {
      padding: 5px 5px;
      top: -2px; /* Ajustez la position selon vos besoins */
      width: 150px;
      transition: ease all .5s;
   }
}
 
/**************** End CSS Research input *****************/

/**************** HOME PAGE END *****************/




/***************** REGISTER PAGE *****************/

/*******  CSS Registration Form  *******/

 .form {
   display: flex;
   /* margin-top: 100px; */
   flex-direction: column;
   width: 40%;
   min-width: 550px;
   margin-left: auto;
   margin-right: auto;
   background-color: #fff;
   padding: 0px;
   border-radius: 20px;
   position: relative;
   -webkit-box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
   box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
 
   margin-bottom: 40px ;
 }
 
 .title {
   font-size: 28px;
   color: #0064A3;
   font-weight: 600;
   letter-spacing: -1px;
   position: relative;
   display: flex;
   align-items: center;
   padding-left: 30px;
 }
 
 .message,
 .signin {
   color: #163760;
   font-size: 16px;
   font-style: italic;
 }

 .signin {
   text-align: center;
 }
 
 .signin a {
   color: #0064A3;
 }
 
 .signin a:hover {
   text-decoration: underline #0064A3;
 }
 
 .flex {
   display: flex;
   width: 100%;
   gap: 6px;
 }
 
 .form label {
   position: relative;
 }
 
 .form label .input {
   width: 100%;
   padding: 10px 10px 20px 10px;
   outline: 0;
   border: 1.5px solid #0064A3;
   border-radius: 10px;
 }
 
 .form label .input+span {
   position: absolute;
   left: 10px;
   top: 15px;
   color: grey;
   font-size: 0.9em;
   cursor: text;
   transition: 0.3s ease;
 }
 
 .select {
   border: 1.5px solid #0064A3;
 }
 
 .form label .input:placeholder-shown+span {
   top: 15px;
   font-size: 0.9em;
 }
 
 .form label .input:focus+span,
 .form label .input:valid+span {
   top: -1px;
   font-size: 0.7em;
   font-weight: 600;
 }
 
 .form label .input:valid+span {
   color: rgb(0, 0, 0);
 }
 
 .submit {
   border: none;
   outline: none;
   background-color: #0064A3;
   padding: 10px;
   border-radius: 10px;
   color: #fff;
   font-size: 16px;
   transform: .3s ease;
 }
 
 .submit:hover {
   background-color: rgb(56, 90, 194);
   cursor: pointer;
 }

 .mdptexte{

   font-size: 12px;
   color:#163760 ;
 }

/**** Checkbox CSS registerform ****/

/* Hide the default checkbox */
.containerCheckbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 
 
 /* Create a custom checkbox */
 .checkmark {
   position: relative;
   top: 0;
   left: 0;
   height: 1.3em;
   width: 1.3em;
   background-color: #ccc;
   border-radius: 0.2pc;
   box-shadow: 3px 3px grey;
 }
 
 /* When the checkbox is checked, add a blue background */
 .containerCheckbox input:checked ~ .checkmark {
   background-image: linear-gradient(90deg, aqua, blue);
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the checkmark when checked */
 .containerCheckbox input:checked ~ .checkmark:after {
   display: block;
 }
 
 /* Style the checkmark/indicator */
 .containerCheckbox .checkmark:after {
   left: 0.45em;
   top: 0.25em;
   width: 0.25em;
   height: 0.5em;
   border: solid white;
   border-width: 0 0.15em 0.15em 0;
   transform: rotate(45deg);
 }
 /* Responsive Registration Form mobile */

 @media screen and (max-width: 812px) {
   .form {
     display: flex;
     flex-direction: column;
     gap: 5px;
     width: 90%;
     min-width: unset;
     background-color: #fff;
     padding: 20px;
     border-radius: 20px;
     position: relative;
     -webkit-box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
     box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
     transition: ease all .5s;
   }
 }
 /******* END CSS Registration Form  ******/

 /***************** END REGISTER PAGE *****************/

 /***************** LOGIN PAGE *****************/


/**********  CSS Login Form  **********/
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   /* height: 100vh; */
   /* Optionnel : centrer verticalement le formulaire sur la hauteur de la fenêtre */
}

.form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 30%;
   background-color: #fff;
   padding: 20px;
   border-radius: 20px;
   position: relative;
   -webkit-box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
   box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
}



.title {
   font-size: 28px;
   color: #0064A3;
   font-weight: 600;
   letter-spacing: -1px;
   position: relative;
   display: flex;
   align-items: center;
}

.message,


.flex {
   display: flex;
   width: 100%;
   gap: 6px;
}

.form label {
   position: relative;
}

.form label .input {
   width: 100%;
   padding: 10px 10px 20px 10px;
   outline: 0;
   border: 1.5px solid #0064A3;
   border-radius: 10px;
}

.form label .input+span {
   position: absolute;
   left: 10px;
   top: 15px;
   color: grey;
   font-size: 0.9em;
   cursor: text;
   transition: 0.3s ease; 
} 

.form label .input:placeholder-shown+span {
   top: 15px;
   font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
   top: -1px;
   font-size: 0.7em;
   font-weight: 600;
} 
.form label .input:valid+span {
   color: rgb(0, 0, 0);
}

.submit {
   border: none;
   outline: none;
   background-color: #0064A3;
   padding: 10px;
   border-radius: 10px;
   color: #fff;
   font-size: 16px;
   transform: .3s ease;
}

.submit:hover {
   background-color: rgb(56, 90, 194);
   cursor: pointer;
}

/**********  CSS Login Form  **********/
/* Responsive Login Form Mobile*/

@media screen and (max-width: 812px) {
   .container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80vh;
   margin-top: 10px;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
   /* Optionnel : centrer verticalement le formulaire sur la hauteur de la fenêtre */
   transition: ease all .5s;
}
 .form {
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 100%;
   background-color: #fff;
   padding: 20px;
   border-radius: 20px;
   position: relative;
   -webkit-box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
   box-shadow: 9px 9px 18px -1px rgba(46, 46, 46, 0.9);
   transition: ease all .5s;
 }

}

/***************** END LOGIN PAGE *****************/

/***************** PROFIL PAGE *****************/

.editProfil{
   height: 100px;
   width: 100px
}



/***************** END PROFIL PAGE *****************/



/***************** GROUP PAGE *****************/
.imgGroup {
   width : 500px;
   height: auto;
   height: auto;
}

@media (max-width: 991.98px) {
   .imgGroup {
       max-width: 350px;
       transition: ease all .5s;
   }
   iframe {
       max-width: 450px;
       height: 350px;
       transition: ease all .5s;
   }
}

/***************** EVENT PAGE *****************/
/* eventlist */
.imgCover{
   width: 500px;
   height: auto;
   align-self: center;

}

/* eventRead */


.imgSize{
   max-height: 450px ;
   height: 450px;
}